.Page3 {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    height: 100vh; 
    padding: 10px;
    background-color: white;
    
  }

  
  .page {
    text-align: left; 
    margin-left: 1000px;
  }
  
  .Page3 h2 {
    font-size: 30px;
    font-weight: bold;
    color: #2c99ac;
    font-family: 'Roboto', sans-serif; 
    letter-spacing: 1px; 
    line-height: 2;
  }
  
  .Page3 h1 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-family: 'Roboto', sans-serif; 
    letter-spacing: 1px; 
    line-height: 1.8;
  }
  
  .Page3 p a {
    font-size: 18px;
    color: #2c99ac; 
    text-decoration: none; 
  }
  
  .Page3 p a:hover {
    color: #0766be; 
  }
 .nav{
    font-size: 15px;
    font-weight: bold;
    color: black;
    font-family: 'Roboto', sans-serif; 
    line-height: 1.8;

 }
 .money{
    font-size: 15px;
    font-weight: bold;
    color: rgba(158, 158, 158, 0.719);
    font-family: 'Roboto', sans-serif;  
    margin-left: 20px;
   
 }
.line{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
    line-height: 3;
    
}
.ex{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.ex a {
    font-size: 15px;
    color: #2c99ac; 
    text-decoration: none;
    font-weight: bold;

}
.cir {
    width: 22px;
    height: 22px;
    border: 2px solid  #2c99ac;
    background-color: transparent;
    color:  #2c99ac;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

  .page3-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 40px;
  }
  /* Responsive cho laptop */
 
@media (max-width: 1400px) {
  .page {
    margin-left: 640px;
  }
}

/* Tablet & Mobile */
@media (max-width: 900px) {
  .Page3 {
    flex-direction: column;
    padding: 20px;
    height: auto;
  }

  .page3-left {
    justify-content: center;
    margin-left: 0;
  }

  .page {
    margin-left: 0;
    text-align: center;
  }

  .Page3 h1 {
    font-size: 28px;
    text-align: left;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif; 
   
  }

  .Page3 h2 {
    font-size: 22px;
    font-family: 'Roboto', sans-serif; 
    text-align: left;
    margin-left: 50px;
  }

  .Page3 p a,
  .ex a {
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
  }

  .nav,
  .money {
    font-size: 14px;
    font-family: 'Roboto', sans-serif; 
  }

  .cir {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
  .ex{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Roboto', sans-serif; 
}
.ex a {
    font-size: 15px;
    color: #2c99ac; 
    text-decoration: none;
    font-weight: bold;

}
  
}